body{
    background-image: url(imagens/2022cor.webp);
    text-align: center;
}

#body1{
    background-image: url(imagens/fundomessi2.jpg);
   
}
#body2{
    background-image: url(imagens/ola.png);
        
}
.texto {
    text-align: center;
color: white;
}

.img4{
    color: white;
}






















