
h1{
    text-align: center;
    font-family: Arial, sans-serif, Times, serif

}
body{
    background-image: url(imagens/2022cor.webp);
    text-align: center;
}

#body1{
    background-image: url(imagens/fundomessi2.jpg);
   
}
#body2{
    background-image: url(imagens/ola.png);
    
     
}
.texto {
    text-align: center;
color: white;
   
}

.mp10{
    text-align:right ;
}

.texto1{
    margin-top: 20%;
    border: 5px;
    text-align:left ;
    font-size: 500%;
    color: white;
}

.img1{
    text-align: left;
    color: white;
}
.img3{

    color: white;
    border: 10px;
    font-size: 300% ;
    text-align: right;
    margin-right: 40px;
    padding-top: 80px;
}
.img4{
    color: white;
}

button{
    background-image:url(imagens/oi.png)

}




















